.footer {
  padding-bottom: 12rem;

  @media (max-width: 747.8px) {
    padding-bottom: 6rem;
  }

  &__raw {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    @media (max-width: 747.8px) {
      flex-wrap: wrap-reverse;
      justify-content: center;
      gap: 4rem;
    }
  }

  &__content {
    flex: 0 1 35rem;
    display: flex;
    flex-direction: column;

    @media (max-width: 747.8px) {
      flex: 0 1 57rem;
    }
  }

  &__content-logo {
    margin-bottom: 2.4rem;
  }

  &__content-text {
    max-width: 30rem;

    @media (max-width: 747.8px) {
      max-width: 100%;
      margin-bottom: 2.4rem;
    }
  }

  &__content-copyright {
    margin-top: auto;

    @extend %Gilroy-500;
    opacity: 0.5;
  }

  &_inner-box {
    flex: 0 1 57rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    @media (max-width: 430.8px) {
      flex-wrap: wrap;
    }
  }
}

.footer-menu {
  &__title {
    margin-bottom: 2.4rem;
  }

  &__item:not(:last-child) {
    margin-bottom: 1.6rem;

    @media (max-width: 747.8px) {
      margin-bottom: 1rem;
    }
  }
}
