.header {
  max-width: 176rem;
  margin: 0 auto 20rem;
  background-color: transparent;

  &__inner {
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: minmax(min-content, 2fr) 3fr;
    align-items: center;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 1s ease;

    &.header__nav--active {
      transform: translateY(0);
    }

    @media (max-width: 925.8px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-200%);
      height: 100svh;
      z-index: 999;
      flex-direction: column;
      justify-content: space-evenly;

      background-color: rgba($color: #4d4b4b, $alpha: 0.9);
    }
  }

  &__nav-list {
    display: flex;
    gap: 3.5rem;

    @media (max-width: 925.8px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__nav-link {
    &:link,
    &:visited {
      padding-bottom: 6px;
      position: relative;

      line-height: 125%;
      color: $color-text-default;
      transition: all 0.3s ease;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;

        background-color: $color-accent;
        transition: all 0.4s ease;
      }
    }

    &:hover,
    &:active {
      color: $color-accent;

      &::after {
        left: 0;
        right: 0;
        width: 100%;
      }
    }
  }

  &__nav-account-link {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      gap: 8px;
      transition: all 0.3s ease;

      color: $color-text-default;
    }

    &:hover,
    &:active {
      color: $color-accent;
      .header__nav-account-icon {
        fill: $color-accent;
      }
    }
  }

  &__nav-account-icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease;
    fill: $color-text-default;
  }
}
