._main-layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $color-bg;
}

._main {
  flex: 1 1 auto;
}

._container {
  max-width: 147rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

// TITLE
.title {
  padding-left: 10.4rem;
  position: relative;

  font-size: 1.8rem;
  line-height: 125%;
  letter-spacing: 6px;
  text-transform: uppercase;
  @extend %Gilroy-800;
  color: $color-accent;

  &::before {
    content: '';
    position: absolute;
    width: 7.2rem;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: $color-accent;
  }
}

// SUBTITLE
.subtitle {
  font-size: 6.4rem;
  line-height: 114%;
  @extend %ChronicleDisplay-600;
  color: $color-text-default;
}
.subtitle--big {
  font-size: 8.8rem;
}

// TEXT
.text {
  font-size: 1.8rem;
  line-height: 177%;
  @extend %Gilroy-700;
  color: $color-text-default;
}

// SECTION LINK
.section-link {
  width: 100%;
  max-width: 12.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.8rem;
  line-height: 125%;
  @extend %Gilroy-700;
  color: $color-accent;

  &__icon {
    width: 24px;
    height: 16px;
    fill: $color-accent;
  }
}
