<footer class="footer">
  <div class="_container">
    <div class="footer__raw">
      <div class="footer__content">
        <div class="footer__content-logo">@@include('./logo.html')</div>

        <p class="footer__content-text">
          Get out there & discover your next slope, mountain & destination!
        </p>

        <div class="footer__content-copyright">
          Copyright 2019 MNTN, Inc. Terms & Privacy
        </div>
      </div>

      <div class="footer_inner-box">
        <div class="footer__blog footer-menu">
          <h4 class="footer-menu__title footer-list-title">More on The Blog</h4>

          <ul class="footer-menu__list">
            <li class="footer-menu__item">
              <a class="footer-menu__link footer-list-link" href="#">
                About MNTN
              </a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link footer-list-link" href="#">
                Contributors & Writers
              </a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link footer-list-link" href="#"
                >Write For Us
              </a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link footer-list-link" href="#">
                Contact Us
              </a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link footer-list-link" href="#">
                Privacy Policy
              </a>
            </li>
          </ul>
        </div>

        <div class="footer__mntn footer-menu">
          <h4 class="footer-menu__title footer-list-title">More on MNTN</h4>

          <ul class="footer-menu__list">
            <li class="footer-menu__item">
              <a class="footer-menu__link footer-list-link" href="#"
                >The Team</a
              >
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link footer-list-link" href="#">Jobs</a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link footer-list-link" href="#">Press</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
