<header class="header">
  <div class="header__inner">
    <div class="header__nav-logo">@@include('./logo.html')</div>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__nav-link" href="#">Equipment</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#">About us</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#">Blog</a>
        </li>
      </ul>

      <div class="header__nav-account">
        <a class="header__nav-account-link" href="#">
          <svg class="header__nav-account-icon">
            <use href="./images/svgsprite/sprite.symbol.svg#icons--account" />
          </svg>
          Account
        </a>
      </div>
    </nav>
  </div>
</header>
