<section class="hero">
  @@include('./header.html')
  <div class="_container">
    <div class="hero__inner">
      <h1 class="hero__title title">A Hiking guide</h1>

      <h3 class="hero__subtitle subtitle subtitle--big">
        Be Prepared For The Mountains And Beyond!
      </h3>

      <button class="hero__btn">
        scroll down
        <svg class="hero__btn-arrow">
          <use href="./images/svgsprite/sprite.symbol.svg#icons--arrow-down" />
        </svg>
      </button>
    </div>
  </div>
</section>
