<section class="steps" id="section-steps">
  <div class="_container">
    <!-- 01 -->
    <div class="steps__raw">
      <div class="steps__content" data-number="01">
        <h2 class="steps__title title">Get Started</h2>

        <h3 class="steps__subtitle subtitle">What level of hiker are you?</h3>

        <p class="steps__text text">
          Determining what level of hiker you are can be an important tool when
          planning future hikes. This hiking level guide will help you plan
          hikes according to different hike ratings set by various websites like
          All Trails and Modern Hiker. What type of hiker are you – novice,
          moderate, advanced moderate, expert, or expert backpacker?
        </p>

        <a class="steps__link section-link" href="#">
          read more
          <svg class="steps__link-icon section-link__icon">
            <use
              href="./images/svgsprite/sprite.symbol.svg#icons--arrow-right" />
          </svg>
        </a>
      </div>

      <div class="steps__image-box">
        <div class="steps__image-wrapper">
          <picture class="steps__img">
            <source
              type="image/avif"
              srcset="
                ./images/steps/get-started.avif    1x,
                ./images/steps/get-started@2x.avif 2x
              " />
            <source
              type="image/webp"
              srcset="
                ./image/steps/get-started.webp    1x,
                ./image/steps/get-started@2x.webp 2x
              " />
            <img
              src="./images/steps/get-started.jpg"
              srcset="./images/steps/get-started@2x.jpg"
              alt="step image" />
          </picture>
        </div>
      </div>
    </div>
    <!-- 02 -->
    <div class="steps__raw">
      <div class="steps__content" data-number="02">
        <h2 class="steps__title title">Hiking Essentials</h2>

        <h3 class="steps__subtitle subtitle">Picking the right Hiking Gear!</h3>

        <p class="steps__text text">
          The nice thing about beginning hiking is that you don’t really need
          any special gear, you can probably get away with things you already
          have. Let’s start with clothing. A typical mistake hiking beginners
          make is wearing jeans and regular clothes, which will get heavy and
          chafe wif they get sweaty or wet.
        </p>

        <a class="steps__link section-link" href="#">
          read more
          <svg class="steps__link-icon section-link__icon">
            <use
              href="./images/svgsprite/sprite.symbol.svg#icons--arrow-right" />
          </svg>
        </a>
      </div>

      <div class="steps__image-box">
        <div class="steps__image-wrapper">
          <picture class="steps__img">
            <source
              type="image/avif"
              srcset="
                ./images/steps/essentials.avif    1x,
                ./images/steps/essentials@2x.avif 2x
              " />
            <source
              type="image/webp"
              srcset="
                ./image/steps/essentials.webp    1x,
                ./image/steps/essentials@2x.webp 2x
              " />
            <img
              src="./images/steps/essentials.jpg"
              srcset="./images/steps/essentials@2x.jpg"
              alt="step image" />
          </picture>
        </div>
      </div>
    </div>
    <!-- 03 -->
    <div class="steps__raw">
      <div class="steps__content" data-number="03">
        <h2 class="steps__title title">where you go is the key</h2>

        <h3 class="steps__subtitle subtitle">Understand Your Map & Timing</h3>

        <p class="steps__text text">
          To start, print out the hiking guide and map. If it’s raining, throw
          them in a Zip-Lock bag. Read over the guide, study the map, and have a
          good idea of what to expect. I like to know what my next landmark is
          as I hike. For example, I’ll read the guide and know that say, in a
          mile, I make a right turn at the junction..
        </p>

        <a class="steps__link section-link" href="#">
          read more
          <svg class="steps__link-icon section-link__icon">
            <use
              href="./images/svgsprite/sprite.symbol.svg#icons--arrow-right" />
          </svg>
        </a>
      </div>

      <div class="steps__image-box">
        <div class="steps__image-wrapper">
          <picture class="steps__img">
            <source
              type="image/avif"
              srcset="
                ./images/steps/key.avif    1x,
                ./images/steps/key@2x.avif 2x
              " />
            <source
              type="image/webp"
              srcset="
                ./image/steps/key.webp    1x,
                ./image/steps/key@2x.webp 2x
              " />
            <img
              src="./images/steps/key.jpg"
              srcset="./images/steps/key@2x.jpg"
              alt="step image" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
